# ignore generated doc files
doc/*
!doc/*.org

# ignore build artifacts
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
!/resources/gawihs/gawihs.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
